/* ////////////////lodging//////////////// */
.thumbnail img {
    height: 220px;
}
/* .//////////////////////////////////////////// */


/* ////////////////Activity//////////////// */
.activity_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "act_1 act_2" "act_3 act_4" "act_5 act_6";
    column-gap: 25px;
    row-gap: 30px;
}

.activity_card a{
	height: 470px;
}

.activity_card img {height: 400px;}
/* .//////////////////////////////////////////// */


/* ////////////////lodging//////////////// */
.lodging_content {
    grid-template-columns: repeat(2, 1fr);
}
/* .//////////////////////////////////////////// */


/* ////////////////footer//////////////// */
footer {
	grid-template-columns: repeat(2, 1fr);
}
/* .//////////////////////////////////////////// */
